table {
  width: fit-content;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input, select, textarea {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

#submit {
  background-color: #005682;
  border-color: #004568;
  color: #fff !important;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}